fastapi
uvicorn[standard]
pillow
supabase
python-dotenv
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics
opencv-python-headless
pydantic
python-multipart
email-validator
httpx
PyJWT
groq
